# DataSource
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=kodemy
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres

DATASOURCE_URL=jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=rabbitmq
RABBITMQ_PASSWORD=rabbitmq

# Elastic search
ELASTICSEARCH_HOSTS=["http://opensearch:9200"]
ELASTICSEARCH_USERNAME=opensearch
ELASTICSEARCH_PASSWORD=opensearch

# Eureka
EUREKA_URL=http://kodemy-service-registry:8761/eureka/

# Kodemy
FRONTEND_PUBLIC_HOST=http://localhost:3000
GATEWAY_PUBLIC_HOST=http://localhost:8080
