# POSTGRES
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=kodemy
POSTGRES_PORT=5435

# RABBITMQ
RABBITMQ_DEFAULT_USER=rabbitmq
RABBITMQ_DEFAULT_PASS=rabbitmq

# OPENSEARCH
OPENSEARCH_HOSTS=["http://opensearch:9200"]
DISABLE_SECURITY_DASHBOARDS_PLUGIN=true
OPENSEARCH_JAVA_OPTS='-Xms1024m -Xmx1024m'