server:
  port: 8181
spring:
  datasource:
    # PosgreSQL from .env
    # jdbc:postgresql://localhost:POSTGRES_PORT/POSTGRES_DB
    url: jdbc:postgresql://localhost:5432/kodemy
    # POSTGRES_USER
    username: root
    # POSTGRES_PASSWORD
    password: password
  liquibase:
    contexts: local
  rabbitmq:
    host: localhost
    username: rabbitmq
    password: password
    port: 5672